/* * {

  outline: 1px solid red;
} */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #555252;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.wrapper {
  max-width: 1115px;
  margin: 0 auto;
}

/* Header menu */

.menu-wrapper {
  outline: 2px solid red;
  padding-top: 38px;
  padding-bottom: 111px;

}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.logo a {
  /* outline: 2px solid blue; */
  font-family: "Roboto", sans-serif;
  color: #555252;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  float: left;
}
.logo a::first-letter {
  font-family: "Roboto";
  font-weight: 900;
  color: #1abc9c;
}

.logo a:hover,
.logo a:focus {
  color: #1abc9c;
}

.menu__navigation {
  font-family: "Open Sans", sans-serif;
  width: 470px;
  margin-top: 5px;
  font-size: 14px;
  list-style: none;
  float: right;
}
.menu__navigation a {
  outline: 2px solid rgb(43, 255, 0);
  display: block;
  color: #0f0101;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  text-decoration: none;
  }

.menu__navigation li {
  float: left; 
  margin-right: 32px;
}
.menu__navigation li:last-child {
  margin-right: 0px;



.menu__navigation li a:hover,
.menu__navigationon li a:focus {
  color: #1abc9c
}



/* .navigation {
  
} */

}

/* .site-navigation li {
  display: inline-block;
}

.site-navigation li:not(:last-child) {
  margin-right: 77px;
} */



.content {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.main-content {
  font-size: 0;
}

.content {
  display: inline-block;
  width: 420px;
  font-size: 14px;
  vertical-align: top;
  margin-bottom: 135px;
}

.content:nth-child(even) {
  margin-right: 0;
}

.content:nth-child(odd) {
  margin-right: 60px;
}

.content article:nth-last-child(-n + 2) {
  margin-bottom: 55px;
}

.content img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}
.content-list__name {
  font: 300 14px "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: #b4ad9e;
  margin-bottom: 31px;
  text-align: left;
}
.content h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: left;
}

.content-list__about {
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}

.download {
  display: block;
  border: none;
  margin: 0 auto;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid #626262;
  padding: 20px 30px;
  margin-bottom: 75px;
  background-color: #ffffff;
  cursor: pointer;
}
